[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = v3_req
prompt             = no

[ req_distinguished_name ]
C  = IN
ST = Maharashtra
L  = Mumbai
O  = PartyA
OU = IT
CN = partyA.com

[ v3_req ]
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = clientAuth,emailProtection
